<div class="teamsPage">
  <div class="teams_banner">
    <h1>Teams</h1>
    <p>
      The F1 Grid consists of 10 teams, comprising of teams runs by Automobile
      manufacturers and Private teams
    </p>
  </div>
  <div class="teams_cards">
    <p>
      The teams are listed in order of their finish in the constructors
      championship in the 2023 season
    </p>
    <div class="teamRow1">
      <div class="teams_cards row">
        <div class="RB teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>History</h4>
          </div>
        </div>
        <div class="Merc teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>History</h4>
          </div>
        </div>
        <div class="Ferrari teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>History</h4>
          </div>
        </div>
        <div class="Mclaren teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>History</h4>
          </div>
        </div>
        <div class="AstonM teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>History</h4>
          </div>
        </div>
        <div class="Alpine teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>History</h4>
          </div>
        </div>
        <div class="Williams teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>History</h4>
          </div>
        </div>
        <div class="AlphaT teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>History</h4>
          </div>
        </div>
        <div class="Alfa teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>History</h4>
          </div>
        </div>
        <div class="Haas teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>History</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
