.teamsPage{
    padding-top: 90px;
    background: linear-gradient(to left,rgba(0, 0, 0, 0.8)0%, rgb(0,0,0,0.8)100%),url(../../assets/checkeredFlag.jpg);
    height: 800px;

    .teams_desc{
        color: #fff;
    }
    .teams_banner{
        padding: 10px 0 0 10px;
    }
    .teamCard{
        // width: 130px;
        height: 130px;
        border-radius: 65px;
        margin: 0 10px;
        // background-color: aqua;
        position: relative;
        scale: 1;
        transition: scale 0.2s ease-in-out;
        &:hover{
            scale: 1.2;
            .cardText{
                visibility: visible;
            }
        }
        .cardText{
            position: absolute;
            top: 55%;
            left: 15%;
            visibility: hidden;
            transition: visibility 0.2s ease-in-out;
            margin-top: 60px;
            text-align: center;
            color: #fff;
        }
        
    }
    .RB{
        background-image: url(../../assets/RBLogo.jpg);
        background-position: center;
        background-size: cover;
        border: rgba(255, 217, 0, 0.801) 5px solid ;

    }
    .Merc{
        background-image: url(../../assets/MercedesLogo.png);
        background-position: center;
        background-size: cover;
        margin-top: 80px;
    }
    .Ferrari{
        background-image: url(../../assets/ferrarilogo.jpg);
        background-position: center;
        background-size: cover;
        margin-top: 120px;
    }
    .Mclaren{
        background-image: url(../../assets/MclarenLogo.webp);
        background-position: center;
        background-size:200px;
        margin-top: 160px;
        
    }
    .AstonM{
        background-image: url(../../assets/astonMartinF1logo.webp);
        background-position: center;
        background-size: cover;
        margin-top: 200px;
    }
    .Alpine{
        background-image: url(../../assets/alpinelogo.jpg);
        background-position: center;
        background-size: cover;
        margin-top: 240px;
    }
    .Williams{
        background-image: url(../../assets/williamslogo.jpg);
        background-position: center;
        background-size: cover;
        margin-top: 280px;
    }
    .AlphaT{
        background-image: url(../../assets/AlphaTaurilogo.png);
        background-color: White;
        background-position: center;
        background-size: 100px;
        background-repeat: no-repeat;
        background-position-y:35px ;
        margin-top: 320px;
    }
    .Alfa{
        background-image: url(../../assets/alfaromeologo.jpg);
        background-position: center;
        background-size: cover;
        background-position-y: -3.5px;
        background-position-x: -18px;
        margin-top: 360px;
    }
    .Haas{
        background-image: url(../../assets/haasf1logo.png);
        background-position: center;
        background-size: cover;
        margin-top: 400px;
    }
    .teams_cards{
        margin: 0 10px;
    }
}
