<div class="teamsPage">
  <div class="teams_banner">
    <h1 class="teams_desc">Teams</h1>
    <p class="teams_desc">
      The F1 Grid consists of 10 teams, comprising of teams runs by Automobile
      manufacturers and Private teams
    </p>
  </div>
  <div class="teams_cards_row">
    <p class="teams_desc">
      * The teams are listed in order of their finish in the constructors
      championship in the 2023 season
    </p>
    <div class="teamRow1">
      <div class="teams_cards row">
        <div class="RB teamCard col" routerLink="/RedBull">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>RedBull</h4>
          </div>
        </div>
        <div class="Merc teamCard col" routerLink="/Mercedes">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>Mercedes</h4>
          </div>
        </div>
        <div class="Ferrari teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>Ferrari</h4>
          </div>
        </div>
        <div class="Mclaren teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>Mclaren</h4>
          </div>
        </div>
        <div class="AstonM teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>Aston Martin</h4>
          </div>
        </div>
        <div class="Alpine teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>Alpine</h4>
          </div>
        </div>
        <div class="Williams teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>Williams</h4>
          </div>
        </div>
        <div class="AlphaT teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>AlphaTauri</h4>
          </div>
        </div>
        <div class="Alfa teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>Alfa Romeo</h4>
          </div>
        </div>
        <div class="Haas teamCard col">
          <div class="cardView hist"></div>
          <div class="cardText">
            <h4>Haas</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
