<div class="RBPage">
  <div class="teamName row">
    <div class="teamLogo col-2">
      <img src="../../../assets/RBLogo.jpg" alt="RB logo" />
    </div>
    <div class="name col-9">
      <h1>Oracle Redbull Racing</h1>
    </div>
    <div class="standings col-1">
      <img
        src="../../../assets/trophy-champion-svgrepo-com.svg"
        alt="Drivers"
      />
      <img
        src="../../../assets/wreath-circular-shape-of-awards-svgrepo-com.svg"
        alt="constructors"
      />
    </div>
  </div>
  <div class="mainTeam">
    <div class="team_det">
      <h3>Team</h3>
      <p>Meet the team.</p>
      <div class="teamPrincipal">
        <h4>Team Principal</h4>
        <div class="team_img">
          <img src="../../../assets/horner.jpg" alt="Christian Horner" />
        </div>
        <p>Christian Horner</p>
      </div>
      <div class="teamDrivers row">
        <h4>Drivers</h4>
        <div class="max col">
          <div class="team_img max_img">
            <img src="../../../assets/Max-Verstappen-PNG-HD.png" alt="Max" />
          </div>
          <p>Max Verstappen</p>
        </div>
        <div class="checo col">
          <div class="team_img checo_img">
            <img src="../../../assets/checo.png" alt="Max" />
          </div>
          <p>Sergio 'Checo' Perez</p>
        </div>
      </div>
    </div>
  </div>
  <div class="backgroundInfo"></div>
  <div class="stats"></div>
</div>
