$primary_Color:#000;
$secondaryColor:#00A19B;
$tertiaryColor:#FFFFFF;
$quarternary_Color:#c8ccce;
$dr1_Color:#B4D934;
$dr2_Color:#017A99;
.teamPage{
    padding-top: 90px;
    background-color: $primary_Color;
    height: 3200px;
}
.mainTeam{
    height: 1000px !important;
    background: linear-gradient(rgb(0,0,0,0.8),rgb(0,0,0,0.8)),url(../../../assets/merc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0%;
}
.teamName{
    height: 400px;
    background-image: url(../../../assets/w14.jpg);
    background-repeat: no-repeat;
    background-size: 2500px;
    background-position-y: -570px;
    background-position-x: -410px;
    position: relative;
}
.teamLogo{
    img{
        // width: fit-content;
        height: 200px;
        margin: 10px;
        border-radius: 100px;
        border: $secondaryColor 15px solid;
        position: absolute;
        top: 40%;
    }
    
}
.name{
    position: relative;
    h1{
        position: absolute;
        top: 80%;
        font-weight: 900;
        font-size: 50px;
        color: $primary_Color;
    }
}
.standings{
    img{
        padding-top: 30px;
        width: 100px;
        height: 100px;
    }
}
.mainTeam{
    height: 500px;
    padding: 40px;
    h3{
        color: $secondaryColor;
        font-size: 50px;
        font-weight:bold ;
    }
    p{
        color: $quarternary_Color;
    }
    .teamPrincipal{
        text-align: center;
        h4{
            color: $tertiaryColor;
            font-weight: bold;
        }
        p{
            color: $quarternary_Color;
            font-weight: bold
        };
    }
}
.team_img{
    img{
        height: 200px;
        width: 200px;
        border-radius: 100px;
                
     }
    
            
}
.teamDrivers{
    text-align: center;
    padding-top: 30px;
    h4{
        color: $tertiaryColor;
        font-weight: bold;
    }
    p{
        font-weight: bold;
        color: $quarternary_Color;
    }
}
.dr1_img, .dr2_img{
    display: flex;
    justify-content: center;
    
}
.dr1, .dr2 {
    p{
        text-align: center;
    }
}
.dr1_img{
    img{
        border: $dr1_Color 5px solid;

    }
}
.dr2_img{
    img{
        border: $dr2_Color 5px solid;
    }
}   
.backgroundInfo{
    text-align: center;
    display: flex;
    justify-content: center;
    .info{
        width: 70%;
        margin-top: 30px;
        h3{
            color: $secondaryColor;
            font-size: 50px;
            font-weight:bold ;
            margin-bottom: 40px;
        }
        h5{
            color: $tertiaryColor;
            font-weight: bold;
            margin-bottom: 40px;
        }
        p{
            color: $quarternary_Color;
            text-align: justify;
        }
    }
} 
.stats{
    display: flex;
    justify-content: center;
    text-align: center;
    .statTable{
        width: 80%;
        margin-top: 30px;
        h3{
            color: $secondaryColor;
            font-size: 50px;
            font-weight:bold ;
            margin-bottom: 40px;
        }
        h5{
            color: $tertiaryColor;
            font-weight: bold;
            margin-bottom: 40px;
        }
        .col{
            color: $quarternary_Color;
            font-weight: 600;
            padding-top:10px ;
        }
        .driverchamps{
            img{
                padding-left: 5px;
                width: 20px;
                filter: invert(1);
            }
            .visib{
                visibility: hidden;
                height: 0px;
            }
            em{
                color: $tertiaryColor;
            }
            b{
                color: $secondaryColor;
            }
        }
        .champ{
            img{
                padding-left: 5px;
                width: 20px;
                filter: invert(1);
            }
            .visib{
                visibility: hidden;
                height: 0px;
            }
        }
    }
}
.reachout{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    .reachoutLinks{
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        img{
            width: 50px;
            margin: 0 10px;
        }
        .RO{
            text-align: center;
            margin-top: 40px;
            h3{
                color: $secondaryColor;
                font-size: 50px;
                font-weight:bold ;
                margin-bottom: 40px;
            }
        }
    }
}