.RBPage{
    padding-top: 90px;
    background-color: #000;
    height: 3200px;
}
.mainTeam{
    height: 1000px !important;
    background: linear-gradient(rgb(0,0,0,0.8),rgb(0,0,0,0.8)),url(../../../assets/merc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0%;
}
.teamName{
    height: 400px;
    background-image: url(../../../assets/w14.jpg);
    background-repeat: no-repeat;
    background-size: 2500px;
    background-position-y: -570px;
    background-position-x: -410px;
    position: relative;
}
.teamLogo{
    img{
        // width: fit-content;
        height: 200px;
        margin: 10px;
        border-radius: 100px;
        border: #00A19B 15px solid;
        position: absolute;
        top: 40%;
    }
    
}
.name{
    position: relative;
    h1{
        position: absolute;
        top: 80%;
        font-weight: 900;
        font-size: 50px;
        color: #000;
    }
}
.standings{
    img{
        padding-top: 30px;
        width: 100px;
        height: 100px;
    }
}
.mainTeam{
    height: 500px;
    padding: 40px;
    h3{
        color: #00A19B;
        font-size: 50px;
        font-weight:bold ;
    }
    p{
        color: #c8ccce;
    }
    .teamPrincipal{
        text-align: center;
        h4{
            color: #fff;
            font-weight: bold;
        }
        p{
            color: #c8ccce;
            font-weight: bold
        };
    }
}
.team_img{
    img{
        height: 200px;
        width: 200px;
        border-radius: 100px;
                
     }
    
            
}
.teamDrivers{
    text-align: center;
    padding-top: 30px;
    h4{
        color: #fff;
        font-weight: bold;
    }
    p{
        font-weight: bold;
        color: #c8ccce;
    }
}
.max_img, .checo_img{
    display: flex;
    justify-content: center;
    
}
.max, .checo {
    p{
        text-align: center;
    }
}
.max_img{
    img{
        border: #B4D934 5px solid;

    }
}
.checo_img{
    img{
        border: #017A99 5px solid;
    }
}   
.backgroundInfo{
    text-align: center;
    display: flex;
    justify-content: center;
    .info{
        width: 70%;
        margin-top: 30px;
        h3{
            color: #00A19B;
            font-size: 50px;
            font-weight:bold ;
            margin-bottom: 40px;
        }
        h5{
            color: #fff;
            font-weight: bold;
            margin-bottom: 40px;
        }
        p{
            color: #c8ccce;
            text-align: justify;
        }
    }
} 
.stats{
    display: flex;
    justify-content: center;
    text-align: center;
    .statTable{
        width: 80%;
        margin-top: 30px;
        h3{
            color: #00A19B;
            font-size: 50px;
            font-weight:bold ;
            margin-bottom: 40px;
        }
        h5{
            color: #fff;
            font-weight: bold;
            margin-bottom: 40px;
        }
        .col{
            color: #c8ccce;
            font-weight: 600;
            padding-top:10px ;
        }
        .driverchamps{
            img{
                padding-left: 5px;
                width: 20px;
                filter: invert(1);
            }
            .visib{
                visibility: hidden;
                height: 0px;
            }
            em{
                color: #fff;
            }
            b{
                color: #00A19B;
            }
        }
        .champ{
            img{
                padding-left: 5px;
                width: 20px;
                filter: invert(1);
            }
            .visib{
                visibility: hidden;
                height: 0px;
            }
        }
    }
}
.reachout{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    .reachoutLinks{
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        img{
            width: 50px;
            margin: 0 10px;
        }
        .RO{
            text-align: center;
            margin-top: 40px;
            h3{
                color: #00A19B;
                font-size: 50px;
                font-weight:bold ;
                margin-bottom: 40px;
            }
        }
    }
}