.banner{
    height: 800px;
    // background-image: url(../../assets/FIA_car.jpg);
    background: linear-gradient(to left,rgba(255, 255, 255, 0)0%, rgb(255,255,255,0.5)50%, rgb(255,255,255,1)70%),url(../../assets/2022-f1-car-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: 20px;
    // background-position-y: 5px;
}
.banner_text{
    position: relative;
    top:25%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 15px;
    font-size: x-large;
    font-weight: 900;
    h1{
        font-size: 50px;
        font-weight:bold ;
    }

}
.scroll_arrow{
    position: absolute;
    top: 80%;
    left: 45%;
    width: 80px;
    height: 80px;
    animation: scroll_down 2s linear infinite;
    &:hover{
        cursor: pointer;
    }
}

@keyframes scroll_down {
    0%{
        top:78%
    }
    50%{
        top: 82%;
    }
    100%{
        top: 78%;
    }
}

.underbanner{
    height: 640px;
    h3{
        font-size: 50px;
        font-weight:bold ;
        padding-left: 20px;
    }
    .card_det{
        padding-left: 20px;
    }
    .cards{
        padding:20px 10px;
        margin-left: 10px;
    }
    .col{
        padding: 0 10px;
        text-align: center;
    }
}
.cardView{
    height: 350px;
    width: fit-content;
    background-image: url("../../assets/lotusF1.jpg");
    position: relative;
    filter: blur(0px);
    transition: filter 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    .cardText{
        position: relative;
        top: 70%;
        z-index: 2;
        filter: blur(0px);
    }
    &:hover{
        filter: blur(2px);
        .cardText{
            color: #fff;
            z-index: 3;
        }
    }
}