<div class="banner">
  <div class="banner_text col-4">
    <h1>Formula 1 Information App</h1>
    <br />
    <p>
      Find basic information and introduction into the world of Formula 1 , to
      make you; the new comer comfortable with the sport and clear your doubts
    </p>
  </div>
  <img
    class="scroll_arrow"
    src="../../assets/down-arrow-svgrepo-com.svg"
    alt="scroll down"
  />
</div>
<div class="underbanner">
  <h3>Explore</h3>
  <p>Explore this site to find all infomation on F1</p>
</div>
<div class="footerLanding">
  <ul>
    <li>Email</li>
    <li>Thanks, BYE!</li>
  </ul>
</div>
